<h1>Add a new Photo</h1>

<form action="/create_photo">
  <label for="Caption">Caption</label>
  <input id="Caption" type="text" name="The_caption">
  <label for="Image URL">Image URL</label>
  <input id="Image URL" type="text" name="The_source">
  <button>Create Photo</button>

</form>
