<h1>Add a new Photo</h1>

<form action="/create_photo">
  <label for="Caption">The_caption</label>
  <input id="Caption" type="text" name="the_caption">
  <label for="Image URL">The source</label>
  <input id="Image URL" type="text" name="the_source">
  <button>Create Photo</button>

</form>
