<h1>Add a new Photo</h1>

<form action="/create_photo">
  <label for="cap">The_caption</label>
  <input id="cap" type="text" name="da_caption">
  <label for="srs">The source</label>
  <input id="srs" type="text" name="da_source">
  <button>Add photo</button>

</form>
